webservice/src/main/resources/clienti.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="presentation.anagrafica.example.com"
	targetNamespace="presentation.anagrafica.example.com"
	elementFormDefault="qualified">


	<xs:element name="getClientiVisibiliRequest">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Cliente">
		<xs:sequence>
			<xs:element name="nome" type="xs:string" />
			<xs:element name="cognome" type="xs:string" />
			<xs:element name="sesso" type="xs:string" />
			<xs:element name="cf" type="xs:string" />
			<xs:element name="dataDiNascita" type="xs:string" />
			<xs:element name="luogoDiNascita" type="xs:string" />
			<xs:element name="mail" type="xs:string" />
			<xs:element name="telefono" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getClientiVisibiliResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ClientiVisibili" type="tns:Cliente" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>