webservice/src/main/resources/clienti.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="presentation.anagrafica.example.com"
	targetNamespace="presentation.anagrafica.example.com"
	elementFormDefault="qualified">


	<xs:element name="deleteClienteRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idCliente" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getDeletedClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ClienteVisibile" type="xs:boolean"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>