webservice/src/main/resources/clienti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="presentation.anagrafica.example.com"
	targetNamespace="presentation.anagrafica.example.com"
	elementFormDefault="qualified">


<xs:complexType name="clienteX">
	<xs:sequence>
		<xs:element name="idCliente" type="xs:int" />
		<xs:element name="nome" type="xs:string" />
		<xs:element name="cognome" type="xs:string" />
		<xs:element name="sesso" type="tns:character"   />
		<xs:element name="cf" type="xs:string" />
		<xs:element name="dataDiNascita" type="xs:string" />
		<xs:element name="luogoDiNascita" type="xs:string" />
		<xs:element name="mail" type="xs:string" />
		<xs:element name="telefono" type="xs:string" />

	</xs:sequence>
</xs:complexType>


<xs:simpleType name="character" >
<xs:restriction base="xs:string">
<xs:length fixed="true" value="1" />
</xs:restriction>


</xs:simpleType>



<xs:element name="postModificaClienteRequest">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="clienteX" type="tns:clienteX" />
		</xs:sequence>
	</xs:complexType>
</xs:element>




<xs:element name="postModificaClienteResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="risposta" type="xs:string"
				 />
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>